<div class="Container">
  <div class="calculator">
    <div (click)="showHistory = !showHistory" *ngIf="showHistory" class="backdrop"></div>
    <app-history (setHistory)="onSetHistory($event)" *ngIf="showHistory"></app-history>
    <div class="header d-flex justify-content-between">
      <div class="title">
        Calculator
      </div>
      <div class="options">
        <div class="maximize">
          <i class="far fa-window-maximize"></i>
        </div>
      </div>
    </div>

    <div class="screen">
      <div class="screen-header d-flex justify-content-end">
        <div (click)="showHistory = !showHistory" class="history">
          <i class="fas fa-history"></i>
        </div>
      </div>
      <div class="expression d-flex justify-content-end mt-1 pe-2">
        {{ expression }} 
      </div>
      <div class="result ms-auto" [ngStyle]="{fontSize: value.length > 12 ? (value.length > 17 ? '24px' : '32px') : '44px'}">
        {{ value }}
      </div>
    </div>

    <div class="memory-panel">
      <button>MC</button>
      <button>MR</button>
      <button>M+</button>
      <button>M-</button>
      <button>MS</button>
      <button>M<sup><i class="fas fa-caret-down"></i></sup></button>
    </div>

    <div class="numpad">
      <div class="row m-0 p-0">
        <div class="col-3 d-flex flex-column p-0">
          <button (click)="onOperate('%')">%</button>
          <button (click)="onOperate('1/x')"><sup>1</sup>/<sub>x</sub></button>
          <button class="numkey" (click)="appendValue('7')">7</button>
          <button class="numkey" (click)="appendValue('4')">4</button>
          <button class="numkey" (click)="appendValue('1')">1</button>
          <button class="numkey" (click)="onOperate('negate')">+/-</button>
        </div>
        <div class="col-3 d-flex flex-column p-0">
          <button (click)="clearValue()">CE</button>
          <button (click)="onOperate('x^2')">x<sup>2</sup></button>
          <button class="numkey" (click)="appendValue('8')">8</button>
          <button class="numkey" (click)="appendValue('5')">5</button>
          <button class="numkey" (click)="appendValue('2')">2</button>
          <button class="numkey" (click)="appendValue('0')">0</button>
        </div>
        <div class="col-3 d-flex flex-column p-0">
          <button (click)="clearAll()">C</button>
          <button (click)="onOperate('sqrt')">&radic;x</button>
          <button class="numkey" (click)="appendValue('9')">9</button>
          <button class="numkey" (click)="appendValue('6')">6</button>
          <button class="numkey" (click)="appendValue('3')">3</button>
          <button class="numkey" (click)="appendValue('.')">.</button>
        </div>
        <div class="col-3 d-flex flex-column p-0">
          <button class="backspace-icon" (click)="onBackspace()"><i class="fas fa-backspace"></i></button>
          <button class="fs-large" (click)="onOperate('/')">/</button>
          <button class="fs-large" (click)="onOperate('x')">x</button>
          <button class="fs-large" (click)="onOperate('-')">-</button>
          <button class="fs-large" (click)="onOperate('+')">+</button>
          <button class="fs-large equalsTo" (click)="evaluate()">=</button>
        </div>
      </div>
    </div>
  </div>
</div>
